.cardCont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.eachCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.imageShow {
    height: 300px;
    width: auto;
    object-fit: contain;
}


.paging{
    margin-top: 2%;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.paging *{
    padding: 0px 2%;
    margin: 0;
}

.myfoot {
    margin-top: 2%;
    background-color: cornsilk;
}
