<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{label.header}">Restaurant</title>

    <link th:href="@{/css/cards.css}" rel="stylesheet"/>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</head>
<body>

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/" style="font-size: 36px" th:text="#{label.header}">HOSPITAL</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse" style="margin-left: 40%;">

                    <div>
                        <a sec:authorize="!isAuthenticated()" th:href="@{/registration}" th:text="#{label.register}"
                           class="btn btn-outline-success" style="background-color: aqua"></a>
                        <a sec:authorize="!isAuthenticated()" th:href="@{/login}" th:text="#{label.signIn}"
                        class="btn btn-outline-success" style="background-color: crimson"></a>
                        <a sec:authorize="isAuthenticated()" th:href="@{/logout}" th:text="#{label.logout}"
                           class="btn btn-outline-success" style="background-color: firebrick"></a>
                        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/adminPage}" th:text="#{label.adminPage}"
                        class="btn btn-outline-success" style="background-color: #a843b8"></a>
                        <a sec:authorize="hasAuthority('USER')" th:href="@{/userCabinet}" th:text="#{label.userPage}"
                           class="btn btn-outline-success" style="background-color: gold"></a>
                    </div>


                    <div style="margin-left: 10%">
                        <a href="?lang=en" th:text="#{lang.eng}" class="btn btn-outline-success"
                           style="background-color: blue">EN</a>
                        <a href="?lang=ru" th:text="#{lang.ru}" class="btn btn-outline-success"
                           style="background-color: darkred">RU</a>
                    </div>

                </div>
            </div>
        </nav>
    </header>

    <main style="margin-top: 10%">
        <div class="btn-group">
            <span th:text="#{sort} +': '" style="font-size: 30px">sort</span>
            <div class="dropdown show">
                <a type="button" class="btn btn-lg btn-success"
                   th:href="@{'/page/'+${currentPage}+ '?sortField='+${sortField}+'&sortDir='+${reverseSortDir}+'&sortCat=all'}"
                   th:text="#{menu.all}">All menu</a>
                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item"
                       th:href="@{'/page/'+${currentPage}+ '?sortField='+${sortField}+'&sortDir='+${reverseSortDir}+'&sortCat=first'}"
                        th:text="#{menu.first}">First</a>
                    <a class="dropdown-item"
                       th:href="@{'/page/'+${currentPage}+ '?sortField='+${sortField}+'&sortDir='+${reverseSortDir}+'&sortCat=pizza'}"
                       th:text="#{menu.pizza}">Pizza</a>
                    <a class="dropdown-item"
                       th:href="@{'/page/'+${currentPage}+ '?sortField='+${sortField}+'&sortDir='+${reverseSortDir}+'&sortCat=sushi'}"
                       th:text="#{menu.sushi}">Sushi</a>
                    <a class="dropdown-item"
                       th:href="@{'/page/'+${currentPage}+ '?sortField='+${sortField}+'&sortDir='+${reverseSortDir}+'&sortCat=drinks'}"
                       th:text="#{menu.drinks}">Drinks</a>
                    <a class="dropdown-item"
                       th:href="@{'/page/'+${currentPage}+ '?sortField='+${sortField}+'&sortDir='+${reverseSortDir}+'&sortCat=dessert'}"
                       th:text="#{menu.dessert}">Dessert</a>
                </div>
            </div>
            <div style="padding-left: 10px">
            <a type="button" class="btn btn-primary btn-lg"
                    th:href="@{'/page/'+${currentPage}+ '?sortField=price&sortDir='+${reverseSortDir}+'&sortCat='+${sortCat}}"
                    th:text="#{sort.price}"
                    >Large button</a>
            <a type="button" class="btn btn-secondary btn-lg"
               th:href="@{'/page/'+${currentPage}+ '?sortField=name&sortDir='+${reverseSortDir}+'&sortCat='+${sortCat}}"
               th:text="#{sort.name}">Large button</a>
            </div>

        </div>
        <div class="cardCont" style="margin-top: 2%">
            <div class="card eachCard" style="width: 21rem;"
                 th:each="dish: ${dishes}">
                <img class="card-img-top imageShow" th:src="@{'~/images/'+${dish.image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" th:text="${dish.name}">Card title</h5>
                    <h5 class="card-title" th:text="${dish.price}">Card title</h5>
                    <p class="card-text" th:text="${dish.description}"></p>
                    <a sec:authorize="hasAuthority('USER')" th:href="@{/userCabinet/{dishId}(dishId=${dish.id})}">
                        <p th:text="#{orderThis}" class="btn btn-primary"></p>
                    </a>
                    <a sec:authorize="!hasAuthority('USER')" href="/login"><p th:text="#{orderThis}" class="btn btn-primary"></p></a>
                </div>
            </div>
        </div>
        <!--PAGINATION-->
        <div th:if="${totalPages}>1" class="paging">
            <p class="paging_title" th:text="#{page.total}+' '+${totalPages}+' :'"></p>
            <span th:each="i: ${#numbers.sequence(1, totalPages)}" class="page">
                <a th:if="${currentPage != i}" th:href="@{'/page/'+${i}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+'&sortCat='+${sortCat}}"> [[${i}]] </a>
                <span th:unless="${currentPage != i}"> [[${i}]] </span>
            </span>
            <span class="page">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/'+${currentPage+1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+'&sortCat='+${sortCat}}" th:text="#{page.next}"></a>
                <span th:unless="${currentPage < totalPages}" th:text="#{page.next}"></span>
            </span>
            <span class="page">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/'+${totalPages}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+'&sortCat='+${sortCat}}" th:text="#{page.last}"></a>
                <span th:unless="${currentPage < totalPages}" th:text="#{page.last}"></span>
            </span>
        </div>

    </main>

    <footer class="container myfoot" style="text-align: center">
        <p><a href="#" th:text="#{label.projectDescribe}">2021 Final project RESTAURANT</a></p>
    </footer>
</body>
</html>